In [1]:
import warnings 
warnings.filterwarnings("ignore", category=FutureWarning)

import pandas  as  pd
import numpy as np
df = pd.read_csv('/auto_home/tshaqura/Documents/Data Project/dataset.csv',sep="\t", header=None, encoding="utf8")

display(df.head())

                                                   0
0  Obviously made to show famous 1950s stripper M...
1  This film was more effective in persuading me ...
2  Unless you are already familiar with the pop s...
3  From around the time Europe began fighting Wor...
4  Im not surprised that even cowgirls get the bl...

In [2]:
print(df)

                                                      0
0     Obviously made to show famous 1950s stripper M...
1     This film was more effective in persuading me ...
2     Unless you are already familiar with the pop s...
3     From around the time Europe began fighting Wor...
4     Im not surprised that even cowgirls get the bl...
5     (48 out of 278 people found this comment usefu...
6     Went to watch this movie expecting a 'nothing ...
7     A good cast and they do their best with what t...
8     The only thing that kept me from vomiting afte...
9     I just watched this film 15 minutes ago, and I...
10    There are two reasons why I did not give a 1 t...
11    The Man In The Attic is a movie set in the 191...
12    During a sleepless night, I was switching thro...
13    No,Basically your watching something that does...
14    I am dumbfounded that I actually sat and watch...
15    In an otherwise good review, loleralacartelort...
16    This version of "Moby Dick" insults the audien...
17    In a summer that also boasted such repugnant s...
18    The dudes at MST3K should see this dog of a fi...
19    A mediocre Sci-Fi Channel original picture. A ...
20    I went to see this movie with a crowd that con...
21    Its hard to make heads or tails of this film. ...
22    One of those classics, held up next to "Deep T...
23    Joe Don Baker. He was great in "Walking Tall" ...
24    I waited for this movie to play in great antic...
25    Such a long awaited movie.. But it has disappo...
26    five minutes after watching this i logged on t...
27    i can't figure out who greenlighted this thing...
28    The most ridiculous thing about this ridiculou...
29    Seriously, I absolutely love these old movies ...
...                                                 ...
9970  Garde  Vue has to be seen a number of times in...
9971  Chances are, you'll think this movie is incred...
9972  Doctor Mordrid is one of those rare films that...
9973  Pop quiz: you're a part of the modern armed fo...
9974  I found this film to be a fascinating study of...
9975  All the folks who sit here and say that this m...
9976  There were some great moments of reality in th...
9977  The anime that got me hooked on anime...Set in...
9978  This movie is cold, bare truth. Often we think...
9979  Fifteen years later and Paris Is Burning is st...
9980  In one of her first movies, Romy Schneider shi...
9981  Cinderella is one of the most beloved of all D...
9982  Twelve Monkeys is odd and disturbing, yet bein...
9983  When it comes to movies I can be pretty picky,...
9984  It wasn't me! It was, er, my twin brother Rupe...
9985  I don't hand out ten star ratings easily. A mo...
9986  Yes, it's over the top, yes it's a bit clichd ...
9987  If you have any sort of appreciation for chara...
9988  I have seen a lot of Saura films and always fo...
9989  Those French and those Germans sure have a lon...
9990  please, future writers, producers, directors -...
9991  Dan Katzir has produced a wonderful film that ...
9992  This is perhaps the best rockumentary ever- a ...
9993  This is one powerful film. The first time I sa...
9994  Myself and my groovadelic 20-something pals ju...
9995  Finally, an indie film that actually delivers ...
9996  House of Games is a wonderful movie at multipl...
9997  The movie was excellent, save for some of the ...
9998  Spin it!The 90s opened up with a clever Disney...
9999  I keep watching this movie over and over and o...

[10000 rows x 1 columns]

In [3]:
df2 = pd.read_csv('/auto_home/tshaqura/Documents/Data Project/labels.csv',sep="\t", header=None, encoding="utf8")

display(df2)

      0
0    -1
1    -1
2    -1
3    -1
4    -1
5    -1
6    -1
7    -1
8    -1
9    -1
10   -1
11   -1
12   -1
13   -1
14   -1
15   -1
16   -1
17   -1
18   -1
19   -1
20   -1
21   -1
22   -1
23   -1
24   -1
25   -1
26   -1
27   -1
28   -1
29   -1
...  ..
9970  1
9971  1
9972  1
9973  1
9974  1
9975  1
9976  1
9977  1
9978  1
9979  1
9980  1
9981  1
9982  1
9983  1
9984  1
9985  1
9986  1
9987  1
9988  1
9989  1
9990  1
9991  1
9992  1
9993  1
9994  1
9995  1
9996  1
9997  1
9998  1
9999  1

[10000 rows x 1 columns]

In [4]:
!pip install nltk

Requirement already satisfied: nltk in ./env/lib/python3.6/site-packages (3.4)
Requirement already satisfied: six in ./env/lib/python3.6/site-packages (from nltk) (1.12.0)
Requirement already satisfied: singledispatch in ./env/lib/python3.6/site-packages (from nltk) (3.4.0.3)
You are using pip version 19.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [5]:
!sudo python -m nltk.downloader all

[sudo] Mot de passe de tshaqura :

In [5]:
from nltk.tokenize import word_tokenize
import unicodedata
import re
import inflect
from nltk.corpus import stopwords

import datetime



import nltk
#nltk.download()

def remove_non_ascii(words):
    new_words = []
    for word in words:
        new_word = unicodedata.normalize('NFKD', word).encode('ascii', 'ignore').decode('utf-8', 'ignore')
        new_words.append(new_word)
    return new_words
                                                              
def to_lowercase(words):
    new_words = []
    for word in words:
        new_word = word.lower()
        new_words.append(new_word)
    return new_words
                                                              
def remove_punctuation(words):
    new_words = []

    for word in words:
        new_word = re.sub(r'[^\w\s]', '', word)
        if new_word != '':
            new_words.append(new_word)
    return new_words
                                                              
def replace_numbers(words):
    p = inflect.engine()
    new_words = []

    for word in words:

        if word.isdigit():
            new_word = p.number_to_words(word)
            new_words.append(new_word)

        else:
            new_words.append(word)
    return new_words

def remove_stopwords(words):
    new_words = []

    for word in words:

        if word not in stopwords.words('english'):
            new_words.append(word)
    return new_words  
                                                              
def normalize(words):
    words = remove_non_ascii(words)
    words = to_lowercase(words)
    words = replace_numbers(words)
    words = remove_punctuation(words)
    words = remove_stopwords(words)
    return words

def clean_text(texte):
    tokens = word_tokenize(texte)
    tokens=normalize(tokens)
    texte="".join([" "+i for i in tokens]).strip()
    return texte




print("depart : ",datetime.datetime.now())
df1=df[0:10000]
#df1.head()
df1.shape
df2=df1[0].apply(clean_text)

print("arrivee : ",datetime.datetime.now())

#texte=df1.iloc[1]
#print ("Texte avant le nettoyage \n")
#print  (texte)
#texte1=clean_text(texte)
#print ("Texte après le nettoyage \n")
#print (texte1)

depart :  2019-03-21 15:02:55.811864
arrivee :  2019-03-21 15:18:24.886942

In [8]:
df2.to_csv('/auto_home/tshaqura/Documents/Data Project/Data_clean.csv',sep="\t", header=None, encoding="utf8", index=False)
df3 = pd.read_csv('/auto_home/tshaqura/Documents/Data Project/Data_clean.csv',sep="\t", header=None, encoding="utf8")
display(df3)

                                                      0
0     obviously made show famous 1950s stripper mist...
1     film effective persuading zionist conspiracy m...
2     unless already familiar pop stars star film sa...
3     around time europe began fighting world war ii...
4     im surprised even cowgirls get blues movie any...
5     fortyeight two hundred and seventyeight people...
6     went watch movie expecting nothing really much...
7     good cast best given story makes sense charact...
8     thing kept vomiting seeing movie fact actors f...
9     watched film fifteen minutes ago still idea wa...
10    two reasons give one movie one reason actors l...
11    man attic movie set 1910s inspired true story ...
12    sleepless night switching channels found embar...
13    basically watching something nt make sense spo...
14    dumbfounded actually sat watched love independ...
15    otherwise good review loleralacartelort7890 sa...
16    version moby dick insults audience claiming ba...
17    summer also boasted repugnant stinkers snakes ...
18    dudes mst3k see dog film basically dopey hack ...
19    mediocre scifi channel original picture little...
20    went see movie crowd consisted predominantly s...
21    hard make heads tails film unless well oiled m...
22    one classics held next deep throat behind gree...
23    joe baker great walking tall good bitpart gold...
24    waited movie play great anticipation assuming ...
25    long awaited movie disappointed friends gone s...
26    five minutes watching logged imdb warn bother ...
27    ca nt figure greenlighted thing redeeming qual...
28    ridiculous thing ridiculous movie conceit one ...
29    seriously absolutely love old movies simplicit...
...                                                 ...
9970  garde vue seen number times order understand s...
9971  chances think movie incredibly stupid first ti...
9972  doctor mordrid one rare films completely radar...
9973  pop quiz part modern armed forces peacetime ro...
9974  found film fascinating study family crisis leo...
9975  folks sit say movie weak link ramones would pr...
9976  great moments reality depicting modern day lif...
9977  anime got hooked anime set year two thousand a...
9978  movie cold bare truth often think oh wo nt hap...
9979  fifteen years later paris burning still aflame...
9980  one first movies romy schneider shines young q...
9981  cinderella one beloved disney classics really ...
9982  twelve monkeys odd disturbing yet clever intel...
9983  comes movies pretty picky complain anything ev...
9984  nt er twin brother rupert bobby says dugan con...
9985  nt hand ten star ratings easily movie really i...
9986  yes top yes bit clichd yes constance marie tot...
9987  sort appreciation character dialogue sense ame...
9988  seen lot saura films always found amazing way ...
9989  french germans sure long history liking intere...
9990  please future writers producers directors lear...
9991  dan katzir produced wonderful film takes us ro...
9992  perhaps best rockumentary ever british better ...
9993  one powerful film first time saw scottish acce...
9994  groovadelic 20something pals ca nt get enough ...
9995  finally indie film actually delivers great sca...
9996  house games wonderful movie multiple levels fi...
9997  movie excellent save scenes esposito enjoyed b...
9998  spin 90s opened clever disney favorite talespi...
9999  keep watching movie watch least week africa lo...

[10000 rows x 1 columns]